:root {
  font-family: "Lexend", serif;
  line-height: 1.5;
  font-weight: 700;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #e03b64;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  
}



*:focus {
  outline: none !important;
}



a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;  /* Centers content horizontally */
  align-items: center;      /* Centers content vertically */
  height: 100vh;            /* Full viewport height */
  width: 100vw;             /* Full viewport width */
}

h1 {
  font-size: 4em;
  line-height: 1.1;
  border-radius:10px ;
}

p {
  color: #e7edef;
  font-size: 2em;
}

strong{
  color: rgb(36, 35, 33);
  background-color: #dce5ed;
  border-radius: 5px;
  padding: 0.1em ;
}

button {
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  color: #e03b64;
  font-weight: 500;
  font-family: inherit;
  background-color: #f4f6f9;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #881e1e;
}
button:focus,
button:focus-visible {
  outline: 8px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #9d2929;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Background progression bar effect */
.progress-bar-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  background: rgba(144, 67, 67, 0.8);
}

.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: linear-gradient(to right, #4a90e2, #50e3c2);
  animation: progressBarMove 4s linear infinite;
}

@keyframes progressBarMove {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
